{% extends 'base.html' %}

{% block title %}
    Components
{% endblock %}

{% block body %}
<div class='row'>
    <div class = 'col-sm-4'>
    <div id='compos'>
        <ul>
            {% for comp in components %}
            <li id='comp_list'>{{ comp[0] }}</li>
                    <ul> 
                        {% for i in comp[1] %}
                            <li><a href="">{{ i }}</a></li>
                        {% endfor %}
                    </ul>
            {% endfor %}
        </ul>
    </div>
</div>
</div>
    {% endblock %}