{% extends 'base.html' %}

{% block title %}
    File Details
{% endblock %}

{% block body %}
<div class='row'>
    <div class = 'col-sm-4'>
    <div id='compos'>
        <ul>
            {% for k,v in changed_components.items() %}
                <li id="comp_list">{{ k }}</li>
                <ul>
                    {% for i in v %}
                        {% if i[1] == True %}
                            <li><a href="{{url_for('get_file_attrs', detail_component=k,detail_file=i[0])}}">{{ i[0] }}</a></li>
                        {% else %}
                            <li>{{ i[0] }} </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    </div>
</div>

    <div class='col-sm-8'>
        <div id='file_mods'>          
        <h4>Modifications in {{ file_name }}</h4>
        <hr>
        <ol>
            <ul>
                {% for field in attribute_modifications %}
                    <li><b>{{ field['modification_type'] }}</b></li>
                    <li><b> Attribute Name </b> : {{ field['attribute_name'] }}</li>
                    <li><b> Description</b> : {{ field['attribute_description'] }}</li>
                    <li><b> Default value</b> : {{ field['default'] }}</li>
                    <li><b> Explanation</b>  : {{ field['explanation_text'] }}</li>
                    <hr>
                {% endfor %}
            </ul>
        </ol>
    </div>
    </div>
</div>
{% endblock %}
