{% extends 'base.html' %}

{% block title %}
    Components
{% endblock %}

{% block body %}
<div class='row'>
    <div class = 'col-sm-4'>
    <div id='compos'>
        <ul>
            {% for comp in changed_components%}
            <li id='comp_list'>{{ comp[0] }}</li>
                    <ul> 
                        {% for i in comp[1] %}
                            {% if i in changed_components %}
                                <li><a href="url_for('get_file_attrs')">{{ i }}</a></li>
                            {% else %}
                                <li>{{ i }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <hr>
            {% endfor %}
        </ul>
    </div>
</div>
</div>
{% endblock %}
