
#compos{
    border: 3px solid cadetblue;
    padding: 5px;
    margin : 10%;
}

#comp_list{
    list-style-image : url('/static/images/server_x_icon.png');
}

.col-sm-6{
    border : 3px solid cadetblue;
}
